node_modules
dist
.parcel-cache
bundle.html
*.tsbuildinfo
.DS_Store

# wrangler files
.wrangler
.dev.vars
!.dev.vars.example

# env files
.env
.env.*
!.env.example

# Secret tokens
*.pem
*.key
credentials.json
secrets.json

# env.example files
.env.example
.env.example.local

#.dev.vars files
.dev.vars
.dev.vars.example

# wrangler files
.wrangler
.wrangler.toml



